            body {
                color:#bec7e5;
				background-color:black;
                background-image:url(https://royalfishband.github.io/wikibg.png);
                font-family:"Garamond";
				margin:auto;
				text-align:center;
			}
			
            .main {
                background-color:black;
                width: 75%;
				margin:auto;
				text-align:center;
				height:200%;
            }
            
            p {
                margin-left:50px;
                margin-right:50px;
                margin-bottom:20px;
				text-align:left;
            }
			
            h1 {
                color: #faf8d9;
				text-align:left;
				margin-left:50px;
            }
			
            h2 {
                color:#ffffff;
				margin-left:50px;
				text-align:left;
            }
			
			a img{
				background-color:none;
				border:none;
				text-decoration:none;
			}
			
			a {
				color:#f8f06f;
			}

			.pic {
				float:right;
				margin-right:50px;
				margin-left:50px;
			}
			